@import url("//cdn.web-fonts.ge/fonts/bpg-banner-supersquare/css/bpg-banner-supersquare.min.css");

*,
*::after,
*::before {
  font-family: "BPG Banner SuperSquare", sans-serif;
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
}

body {
  background-color: #121213;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}
  


.keyboard {
  display: grid;
  grid-template-columns: repeat(22, minmax(auto, 1.325rem));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}
.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}
.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 47%;
}

.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(6, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  
  color: white;
  border: 0.05em solid hsl(240, 2%, 23%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}
.tile.dance {
  animation: dance 500ms ease-in-out;
}
@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
.statistics{
  display: none;
  background-color: #0d0d0f;
  border-radius: 15px;
  border: 0.05em solid rgb(32, 32, 32);
  height: 40rem;
  position: absolute;
  z-index: 10;
  margin-top: 10rem;
  width:50%;
}

.top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  color: white;
  margin-left: 1em;
}

.logo {
  width: 10em;
  margin-bottom: 0.5em;
 
}

.title {
  color: white;
  margin-top: 1.5rem;
}

.top_rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}


#menuToggle {
  display: block;
  position: relative;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #cdcdcd;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(19, 138, 78);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #d1d1d1;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  display: none;

  background: #121213;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.middle_report{
  margin-top:5rem;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}
.contact{
  background-color: #0d0d0f;
  border-radius: 15px;
  border: 0.05em solid rgb(32, 32, 32);
  width: 50%;
  height: 40rem;
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 10rem;
}


#menuToggle input:checked ~ ul {
  transform: none;
  display: inline;
}
.fa-genderless {
  margin-right: 0.7em;
}

.rules_desc {
  margin-top: 5rem;
  overflow: auto;
}




.report{
  background-color: #0d0d0f;
  border-radius: 15px;
  border: 0.05em solid rgb(32, 32, 32);
  height: 40rem;
  position: absolute;
  width: 80%;
  z-index: 10;
  margin-top: 10rem;
  display: none;
  
}

.report_title{
  margin-left:2rem;
  margin-top:1rem;
}

.report_x{
  margin-right:2rem;
  margin-top:1rem;
}
.top_report{
  color:white;
  display: flex;
  justify-content: space-between;
}

textarea{
  font-size: 1.5rem;
  resize:none;
  border:none;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  padding:.8rem;
}

.p_report{
  margin-left:2rem;
}



.input_problem{
  margin-top:2%;
  width:20rem;
  height:3rem;
  margin-left: 2rem;
  padding-left:10px;
}

input{
  border-radius: 10px;
  text-decoration: none;
  outline:none;
  font-size:1rem;
}

.submit{
  width: 15rem;
  height:5rem;
  font-size:1.5rem;
  outline:none;
  background-color:rgb(9, 99, 9);
  border-radius: 10px;
  color:white;
  border: 1px solid rgb(19, 138, 78);
  transition: 0.3s;
  margin-left:2rem;
  margin-top:2%;
  cursor: pointer;
}
.submit:hover{
  background-color: rgb(19, 138, 78);
}


.input_detail{

  margin-top:2%;
  width:20%;
  margin-left:2rem;
  height: 10rem;
}

textarea{
  width:50%
}

.about_game{
  display: flex;
  flex-direction: column;
  display: none;  
}

.middle_about{
 margin-top:10%;
}

.about_title{
  color:white;
  margin-top:1.5rem;
  margin-left:1.5rem; 
}

.xbutton{
  margin-right:1rem;
  font-size:2rem;
}

.top_about{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rules {
  background-color: #0d0d0f;
  border-radius: 15px;
  border: 0.05em solid rgb(32, 32, 32);
  display: none;
  height: 40rem;
  width:90%;
  position: absolute;
  z-index: 10;
  margin-top: 10rem;
}
.about_game {
  background-color: #0d0d0f;
  border-radius: 15px;
  border: 0.05em solid rgb(32, 32, 32);
  height: 30rem;
  width: 80%;
  position: absolute;
  z-index: 10;
  margin-top: 10rem;
}

.show {
  display: inline;
  animation: chamosvla 0.5s ease-in-out;
}

.disappear {
  animation: asvla 0.5s ease-in-out;
}

@keyframes chamosvla {
  0% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0);
  }
}
body{
  height:100%;
}

@keyframes asvla {
  0% {
    display: inline;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50rem);
    display: none;
  }
}

i:hover {
  color: rgb(184, 184, 184);
  cursor: pointer;
}


i {
  color: white;
  margin-bottom: 0.5em;
  transition: 0.2s;
}





.top_contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_title{
  color:white;
  margin-top:1.5rem;
  margin-left:2rem;
}



.copy{
  width:40%;
  margin-left:2rem;
  outline:none;
  border:none;
  background-color:green;
  color:white;
  height:3rem;
  font-size:1.8rem;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s
}

.copy:hover{
  background-color:rgb(39, 165, 39)
}

.loses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wins{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.percents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle_stats{
  margin-top:2rem;
  font-size:3rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.results{
  margin-top:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todaysWord{
  font-size:2rem;
}

.stats_title{
  color:white;
  margin-left:2rem;
  margin-top:1.5rem;
}


.top_stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}
.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 2%, 23%);
}
.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 47%);
}
.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%);
}

.tile.flip {
  transform: rotateX(90deg);
}

.fa-xmark {
  margin-bottom: 0;
}

.keyboard{
  height:100%;
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

.emaill{
  font-size:4rem;
}

.discordd{
  font-size:4rem;
}

.discord{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:4rem;
}

.email{
  display: flex;
  justify-content: center;
  align-items: center;
}

.protonmail{
  margin-bottom:1.5rem;
}
.badonix{
  margin-bottom:1.5rem;
}




.contt{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle_contact{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top:15%;
}

@media(max-width:1632px){
  .copy{
    font-size:1rem;
  }
}
@media(max-width:1450px){
  .percents, .loses, .wins{
    font-size:2rem;
  }
}
@media(max-width:916px){
  .percents, .loses, .wins{
    font-size:1.5rem;
  }
  .todaysWord{
    font-size:2rem;
  }
}
@media(max-width:814px){
 #menu li{
   font-size:1rem;
 }
 #menu{
   width:200px
 }
}

@media(max-width:324px){
.logo{
  height:30px;
  width:160px;
  
}


}
.about_desc{
  margin-right:2rem;
}
@media(max-width:1158px){
  .rule{
    font-size:1rem;
    margin-left:1rem;
    margin-right:1rem;
  }
}

@media(max-width:402px){
  .rules_desc{
    margin-top:1.5rem;
}}

@media(max-width:306px){
  .rule{
    font-size:.7rem;
  }
  .rules{
    height:30rem;
  }
}

@media(max-width:504px){
  .report{
    height:30rem;
  }
  .submit{
    font-size:1rem;
    width:8rem;
    height:3rem;
  }
}
@media(max-width:450px){
  .input_problem{
    width:80%;
  }
}

@media(max-width:830px){
  .contact{
    height:30rem;
  }
  .fa-brands, .fa-envelope{
    font-size:3rem;
  }
}

@media(max-width:550px){
  .contact{
    height:20rem;
  }
}

@media(max-width:422px){
  .fa-brands, .fa-envelope{
    font-size:2rem;
  }
}
@media(max-width:314px){
  .fa-brands, .fa-envelope{
    font-size:1.2rem;
  }
  .contact{
    height:15rem;
  }
}

@media(max-width:888px){
  .results{
    
    flex-direction: column;
  }
  .percents, .loses{
    margin-left:0;
    margin-top:2rem;
  }
  .middle_stats{
    margin-left:0;
    align-items: center;
  }
  .copy{
    margin-left:0;
    margin-top:2rem;
  }
  .todaysWord{
    text-align: center;
  }
  .about_desc{
    margin-left:2rem;
  }
}


@media(max-width:546px){
  .todaysWord{
    margin-left:5px;
    margin-right:5px;
    font-size:1.5rem;
  }
  .copy{
    font-size:.8rem
  }
}

@media(max-width:425px){
  .copy{
    font-size:.5rem;
  }
}

@media(max-width:378px){
  .todaysWord{
    font-size:1rem;
  }
}

@media(max-width:889px){

  
p{
  margin-left:0
}
  .guess-grid{
    grid-template-columns: repeat(6, 3rem);
    grid-template-rows: repeat(6, 3rem);
    gap:0.1em;    
  }
  .tile{
    font-size:1.5rem;
  }
  .logo{
    width:150px;
  }
  
  .key{
    font-size:1rem;
  }
}


@media(max-width:700px){
 
  .keyboard{
    margin-bottom:2rem;
    grid-template-columns: repeat(22, minmax(auto, 6rem));
    column-gap:0.3rem;
    row-gap:3rem;
    
  }
  .key{
    height:5rem;
    
  }
  
  
}

@media(max-width:588px){
  .about_game{
    height:20rem;
  }
  .keyboard{
    margin-bottom:2rem;
    grid-template-columns: repeat(22, minmax(auto, 6rem));
    column-gap:0.3rem;
    row-gap:3rem;
    
  }
  .key{
    height:5rem;
  }
  
}




@media(max-width:421px){
  .keyboard{
    margin-bottom:2.2rem;
    grid-template-columns:repeat(22, minmax(auto, 6rem));
    column-gap:0.4rem;
    row-gap:3.5rem;
  }
  .key{
    height:5rem;
  }
}

@media(max-width:518px){
  .keyboard{
    margin-bottom:4rem;
  }
}

@media(max-width:344px){
  .about_game{
    height:15rem;
  }
}

@media(max-width:300px){
  .tile{
    font-size:1rem;
  }
  
  .guess-grid{
    grid-template-columns: repeat(6, 2rem);
    grid-template-rows: repeat(6, 2rem);
  }
  .keyboard{
    grid-template-columns: repeat(22, minmax(auto, 4rem));
    gap:1px;
   
  }
  .key{
    font-size:.7rem;
  }

  
}